# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so

*~
*#
*.#*
*.DS_Store
*.swp

# artifact data
.artifact/cache
.artifact/data

# generate folders
grpc/
bin/

# code editor settings
.vscode
